* {
	box-sizing: border-box;
	font-family: 'Poppins', serif;
	color: #3b42cd;
}

.header-title {
	color: #fff;
}

.test-header {
	height: auto;
	padding: 20px;
}

/*
body {
	background: linear-gradient(180deg, #363467, 100%, rgba(30, 29, 79, 0.8) 100%);
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	background-size: cover;
	background-position: center;
}

#root {
	justify-content: center;
	align-items: center;
	min-height: 90vh;
	background: linear-gradient(180deg, #363467, 100%, rgba(30, 29, 79, 0.8) 100%);
	background-size: cover;
	background-position: center;
} */
